In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/reisanar/datasets/master/Advertising.csv')
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [3]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [4]:
#create x and y
X=df.iloc[:,0:-1]
#X=data[['TV', 'Radio', 'Newspaper']]
Y=df['Sales']

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(
    X, Y, test_size=0.2, random_state=10)

In [8]:
(np.sqrt(len(X_train)))

12.649110640673518

In [19]:
#predicting using the KNeighbors_classifer
from sklearn.neighbors import KNeighborsRegressor

model_KNN=KNeighborsRegressor(n_neighbors=3,
                               metric='euclidean')
#euclidean,manhattan,minkowski
#fit the model on the data and predict the values
model_KNN.fit(X_train,Y_train)

#prediction
Y_pred=model_KNN.predict(X_test)
#print(list(zip(Y_test,Y_pred)))

In [20]:
Y_pred

array([16.76666667,  8.86666667, 18.7       , 23.8       , 21.7       ,
       13.46666667, 15.83333333, 20.93333333, 21.7       ,  8.86666667,
       24.26666667,  8.83333333,  8.86666667, 20.1       , 21.23333333,
       12.96666667, 19.26666667,  5.63333333, 19.33333333, 20.93333333,
       16.2       ,  5.63333333, 24.06666667, 15.96666667, 14.66666667,
        6.53333333, 10.16666667,  9.8       , 19.93333333,  7.36666667,
       12.9       , 18.93333333,  7.16666667,  6.13333333, 16.2       ,
       13.6       ,  9.66666667, 18.        , 10.53333333, 12.4       ])

In [21]:
from sklearn.metrics import  r2_score,mean_squared_error

r2=r2_score(Y_test,Y_pred)
print("R-squared value :", r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE VALUE :",rmse)

adjusted_r_2=1-(1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adjusted-R-squared value :",adjusted_r_2)


"""
using linear regression:
Rsquare=0.8348
RMSE=2.59
"""

#KNN Performs better on this data

R-squared value : 0.9411330460488659
RMSE VALUE : 1.5478569414229182
Adjusted-R-squared value : 0.9402320212434915

'\nusing linear regression:\nRsquare=0.8348\nRMSE=2.59\n\n'

In [23]:
from sklearn.metrics import r2_score
my_dict={}
for K in range(1,15):
    model_KNN=KNeighborsRegressor(n_neighbors=K,metric="euclidean")
    model_KNN.fit(X_train,Y_train)
    Y_pred=model_KNN.predict(X_test)
    print("R_square value is",[r2_score(Y_test,Y_pred)],"for K-Value:",K)
    my_dict[K]=r2_score(Y_test,Y_pred)

R_square value is [0.947505618529669] for K-Value: 1
R_square value is [0.9293159406535845] for K-Value: 2
R_square value is [0.9411330460488659] for K-Value: 3
R_square value is [0.9394530965066451] for K-Value: 4
R_square value is [0.9284857726620428] for K-Value: 5
R_square value is [0.9171381300471962] for K-Value: 6
R_square value is [0.8986986579101233] for K-Value: 7
R_square value is [0.8941504138170911] for K-Value: 8
R_square value is [0.8798578264845459] for K-Value: 9
R_square value is [0.8608042002876257] for K-Value: 10
R_square value is [0.8470466691144289] for K-Value: 11
R_square value is [0.8483613805522731] for K-Value: 12
R_square value is [0.8510763597780449] for K-Value: 13
R_square value is [0.8490397921317565] for K-Value: 14

In [18]:
for k in my_dict:
    if my_dict[k]==max(my_dict.values()):
        print(k,":",my_dict[k])

1 : 0.947505618529669